/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --primary: #4F46E5;
  --primary-dark: #4338CA;
  --secondary: #FACC15;
  --dark: #1E293B;
  --light: #F1F5F9;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #1E293B;
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-secondary {
  background-color: var(--secondary);
}

/* Custom animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

/* Card flip animation classes */
.card-flip {
  perspective: 1000px;
  transform-style: preserve-3d;
}

